@font-face {
	font-family: "Muli";
	font-display: swap;
	src: url("../font/Muliblack.woff2") format("woff2"), url("../font/Muliblack.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: "Muli";
	font-display: swap;
	src: url("../font/Mulibold.woff2") format("woff2"), url("../font/Mulibold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Muli";
	font-display: swap;
	src: url("../font/Muliitalic.woff2") format("woff2"), url("../font/Muliitalic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: "Muli";
	font-display: swap;
	src: url("../font/Muliregular.woff2") format("woff2"), url("../font/Muliregular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
