@import "font/fonts.css";

* {
	box-sizing: border-box;
}

body {
	font-family: "Muli", sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

@import "block/header.css";
@import "block/main.css";
@import "block/footer.css";